.footer{
  padding-bottom: 20px;
  &__wrapper {
    @extend %flex-ccr;
  }
  &__navigation{
    margin-bottom: 40px;
    &__menu{
      width: 100%;
      @extend %flex-rce;
      .menu-item{
        margin-left: 40px;
      };
      :first-child{
        margin: 0;
      };
    };
  };
};