.contact-form{
  padding-bottom:160px;
  border-top: 1px solid $color_main;
  &__actions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    border: 1px solid $color_main;
  }
  &__msg{
    flex: 1 1 0;
    padding-right: 30px;
    align-self: center;
    font-size: 18px;
    height: 24px;
    color:  $color_main;
    border: none;
    outline: none;
    resize: none;
  }
  ::placeholder {
    color: $color_main;
    opacity: 0.5;
    font-size: 18px;
    border: none;
  }
  &__btn{
    display: block;
    padding: 13px 56px;
    font-size: 28px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: $color_white;
    background-color: $color_main;
    &:hover{
      text-decoration: underline;
    };
  }
}