*{
  box-sizing: border-box;
}

body{
  margin: 0;
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.container{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

 .wrapper{
  max-width: $breakpoint_lg;
  margin: 0 auto;
 }

.title {
  max-width: 500px;
  padding: 16px 0;
  margin: 0 auto 40px;
  border-bottom: 1px solid $color_main;
  text-align: center;
  color: $color_main;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  font-weight: bold;
}

.svg{
  fill: $color_main;
}

time{
  font-size: 48px;
}

@include laptop {
  .container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 60px;
  }
  .title{
    font-size: 30px;
  }
}

@include mobile {
  .container{
    padding: 0;
  }
  .wrapper{
    max-width: 335px;
  }
  .title{
    font-size: 20px;
    margin: 0 0 24px;
  }
  time{
    font-size: 24px;
  }
}






